[Desktop Entry]
Version=1.0
Name=Bluetooth Controls
Comment=Manage bluetooth devices
Exec=alacritty --class bluetooth-controls -e bluetoothctl
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=bluetooth-controls
Categories=Settings;HardwareSettings;
