[Desktop Entry]
Version=1.0
Name=Browser
Comment=Open web browser
Exec=firefox
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;