[Desktop Entry]
Version=1.0
Name=Capture
Comment=Take screenshots with flameshot
Exec=/usr/local/share/up/configs/scripts/screenshot.sh
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Screenshot;